# Ignore virtual environments
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Ignore OS files
.DS_Store

# Ignore logs and junk
*.log
GOOGLE-DATA-Merchant.txt
*.json
AMZ-Set-Highest-Price.txt
Brookfield_Comfort_Database_Schema.sql

# Ignore environment config
.env

# Google merchant api
merchant-feed-api-462809-b3fec2813131.json
merchant-feed-api-462809-23c712978791.json

